<%- include('header.tmpl'); -%>

<div class="field-info">
  <div class="field-info-head">
    <div class="field-info-head-title"><%= field.name %></div>
  </div>
  <% if (field.rules != '') { %>
    <div class="field-info-content">
      <%- field.rules -%>
    </div>
  <% } %>
</div>

<%- include('pager.tmpl'); -%>

<div class="thread-list">
  <% threads.forEach((thread) => { %>
    <div class="thread-list-item">
      <div class="thread-list-item-title">
        <% if (thread.typeid > 0) { %>
          <% const classInfo = classes.find((e) => e.typeid === thread.typeid); %>
          <% if (classInfo) { %>
            <span class="thread-list-item-title-class">[<%- classInfo.name %>]</span>
          <% } %>
        <% } %>
        <a href="/t/<%= thread.tid %>"><%= thread.subject %></a>
      </div>
      <div class="thread-list-item-author">
        <div class="thread-list-item-author-name">
          <a href="/u/<%= thread.authorid %>"><%= thread.author %></a>
        </div>
        <div class="thread-list-item-author-time"><%= (new Date(thread.dateline * 1000)).toLocaleString() %></div>
      </div>
      <div class="thread-list-item-count">
        <div class="thread-list-item-count-post"><%= thread.replies %></div>
        <div class="thread-list-item-count-view"><%= thread.views %></div>
      </div>
      <div class="thread-list-item-lastreply">
        <div class="thread-list-item-lastreply-name"><%= thread.lastposter %></div>
        <div class="thread-list-item-lastreply-time"><%= (new Date(thread.lastpost * 1000)).toLocaleString() %></div>
      </div>
    </div>
  <% }); %>
</div>

<%- include('pager.tmpl'); -%>
<%- include('footer.tmpl'); -%>
