</main>

<div class="footer">
  <p><%= process.env.SITE_NAME %></p>
  <p>Powered by <a href="https://github.com/MisaLiu/discuz-archiver/" target="_blank">Discuz Archiver</a></p>
</div>

<%- include('foot.tmpl'); -%>
