<%- include('head.tmpl'); -%>

<div class="header">
  <div class="header-title">
    <a href="/"><%= process.env.SITE_NAME %></a>
  </div>
</div>

<main class="main-container">

<%- include('breadcrumb.tmpl'); -%>
