<%- include('head.tmpl'); -%>

<script>window.CURRENT_ATTACH_LIST=<%- attachList != '' ? JSON.stringify(attachList) : 'null' %>;</script>

<div class="header">
  <div class="header-title">
    <a href="./"><%= process.env.SITE_NAME %></a>
  </div>
</div>

<main class="main-container">

<%- include('breadcrumb.tmpl'); -%>
