:root {
  --bg-color: white;
  --bg-color-secondary: #f6f6f6;

  --border-color: #5e5e5e;

  --text-color: black;
  --text-color-secondary: #7a7a7a;
  --text-color-disabled: #d0d0d0;

  --gap: 12px;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--bg-color);
}

* {
  box-sizing: border-box;
}

*[disabled] {
  color: var(--text-color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

.pipe {
  color: var(--text-color-secondary);
}

/* ======== Main ======== */
main.main-container {
  margin: var(--gap);
}

/* ======== Header ======== */
.header {
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  padding: calc(var(--gap) / 2) var(--gap);
  background-color: var(--bg-color);
  border-bottom: 1px dashed var(--border-color);
  z-index: 10;
  flex-wrap: nowrap;
}

.header-title {
  font-size: 1.2em;
  font-weight: bold;
  flex: 1;
}

.header-title a {
  color: var(--text-color);
  text-decoration: unset;
}

/* ======== Footer ======== */
.footer {
  margin: var(--gap) auto;
  margin-bottom: 0px;
  text-align: center;
  border-top: 1px dashed var(--border-color);
}

.footer p {
  margin: calc(var(--gap) / 2) 0px;
}

/* ======== Pager ======== */
.pager {
  display: block;
  margin: calc(var(--gap)) 0;
  text-align: center;
}

/* ======== Fields ======== */
.field-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: var(--gap);
}

.field-group {
  border: 1px solid var(--border-color);
}

.field-group-title {
  padding: calc(var(--gap) / 2);
  border-bottom: 1px solid var(--border-color);
}

.field-group-items {
  display: grid;
  padding: calc(var(--gap) / 2);
  grid-template-columns: repeat(2, calc(50% - var(--gap) / 2));
  gap: var(--gap);
}

.field-group-item {
  display: flex;
  gap: var(--gap);
}

.field-group-item-icon img {
  width: 42px;
  height: 42px;
}

.field-group-item-text {
  flex: 1;
}

.field-group-item-subtitle {
  color: var(--text-color-secondary);
}

/* ======== Threads ======== */
.field-info {
  border: 1px solid var(--border-color);
}

.field-info-head {
  padding: calc(var(--gap) / 2);
  border-bottom: 1px solid var(--border-color);
}

.field-info-content {
  padding: calc(var(--gap) / 2);
}

.field-info-head:last-child {
  border-bottom: unset;
}

.thread-list {
  border: 1px solid var(--border-color);
}

.thread-list-item {
  display: flex;
  padding: 0 calc(var(--gap) / 2);
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--gap);
}

.thread-list-item > * {
  flex: initial;
}

.thread-list-item > .thread-list-item-title {
  flex: 1;
}

.thread-list-item-author {
  color: var(--text-color-secondary);
  text-align: right;
}

.thread-list-item:last-child {
  border-bottom: unset;
}

.thread-list.user .thread-list-item {
  min-height: 43px;
}

/* ======== Posts ======== */
.thread-detail {
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.thread-detail-head-title {
  font-weight: bold;
}

.thread-detail-post-author-head {
  font-weight: bold;
}

.thread-detail-post-author-avatar img {
  width: 120px;
  height: auto;
}

.thread-detail-post-content-head {
  color: var(--text-color-secondary);
  gap: var(--gap);
}

.thread-detail-post-content-text {
  min-height: 120px;
}

.thread-detail-post-content-text img {
  width: 100%;
  height: auto;
}

.thread-detail-post-content-text blockquote {
  margin: 0;
  padding: 16px 40px;
  background-color: var(--bg-color-secondary);
}

.thread-detail-post-content-text pre {
  max-width: calc(100vw - 180px - var(--gap) - 43px);
  overflow-x: scroll;
}

.thread-detail-post-content-text hr {
  border: unset;
  border-bottom: 1px dotted var(--border-color);
}

.thread-detail-post-content-bio {
  position: relative;
  padding-top: var(--gap);
  margin-top: var(--gap);
  font-size: var(--gap);
  border-top: 1px dashed var(--border-color);
}

.thread-detail-post-content-bio::before {
  content: 'Signature';
  display: block;
  position: absolute;
  top: 0px;
  left: calc(var(--gap) / 4);
  padding: calc(var(--gap) / 4);
  background-color: var(--bg-color);
  transform: translateY(-50%);
}

.thread-detail-head,
.thread-detail-post {
  border-bottom: 1px solid var(--border-color);
}

.thread-detail-head-stats,
.thread-detail-post-author {
  border-right: 1px solid var(--border-color);
}

.thread-detail-post-author-head,
.thread-detail-post-content-head {
  padding-bottom: calc(var(--gap) / 2);
  border-bottom: 1px dashed var(--border-color);
}

.thread-detail-post-author-avatar,
.thread-detail-post-content-text {
  padding-top: calc(var(--gap) / 2);
}

.thread-detail-head-stats,
.thread-detail-head-title,
.thread-detail-post-author,
.thread-detail-post-content {
  padding: calc(var(--gap) / 2);
}

.thread-detail-head,
.thread-detail-post,
.thread-detail-post-content-head {
  display: flex;
}

.thread-detail-head-stats,
.thread-detail-post-author {
  width: 180px;
}

.thread-detail-head-title,
.thread-detail-post-content,
.thread-detail-post-content-head-date {
  width: 100%;
  flex: 1;
}

.thread-detail-post-content-text-parsed.hidden,
.thread-detail-post-content-text-raw.hidden {
  display: none;
}

.thread-detail-post:last-child {
  border-bottom: unset;
}

/* ======== User ========= */
.user-info {
  display: flex;
  padding: calc(var(--gap) / 2);
  border: 1px solid var(--border-color);
  gap: calc(var(--gap) / 2);
}

.user-info-avatar img {
  width: auto;
  height: 100px;
}

.user-info-text {
  flex: 1;
}

.user-info-text-name {
  font-weight: bold;
  font-size: 1.4em;
}

.user-info-text-bio {
  color: var(--text-color-secondary);
}
